# Add any directories, files, or patterns you don't want to be tracked by version control
build
gradle
gradlew
.gradle
.idea
out
*.ipr
*.iws
.env
.DS_Store
/.gradle
/build
/result.pdf
/source.pdf
*.iml
*.pdf
