<section class="course-details-page inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="course-details-page-div">
                    <div class="course-dtails-page-img">
                        <img src="images/course/3.jpg" class="img-responsive" alt="image">
                    </div>
                    <div class="course-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#description" aria-controls="description" role="tab"
                                                       data-toggle="tab">Description</a></li>
                            <li role="presentation" class="active"><a href="#curriculum" aria-controls="curriculum"
                                                                      role="tab" data-toggle="tab">Curriculum</a></li>
                            <li role="presentation"><a href="#review" aria-controls="review" role="tab"
                                                       data-toggle="tab">Review</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content recent-events">
                            <div role="tabpanel" class="tab-pane " id="description">
                                <div class="course-tab-desc">
                                    <div class="title inner-page-title">
                                        <h3>curriculum</h3>
                                    </div>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas pellentesque id
                                        rutrum, praesent habitant varius interdum tellus donec porta bibendum augue
                                        venenatis suspendisse dictum vivamus molestie, neque sapien quam eu felis
                                        eleifend, a risus dapibus ullamcorper pharetra class gravida tempus elit aliquam
                                        eleifend porttitor facilisis etiam curabitur, hac non cras nulla euismod aenean
                                        tempor litora.</p>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas .</p>
                                </div>
                                <div class="course-tab-desc">
                                    <div class="title inner-page-title">
                                        <h3>What you learn</h3>
                                    </div>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas pellentesque id
                                        rutrum, praesent habitant varius interdum tellus donec porta bibendum augue
                                        venenatis suspendisse dictum vivamus molestie, neque sapien quam eu felis
                                        eleifend, a risus dapibus ullamcorper pharetra class gravida tempus elit aliquam
                                        eleifend porttitor facilisis etiam curabitur, hac non cras nulla euismod aenean
                                        tempor litora.</p>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas .</p>
                                </div>
                                <div class="course-tab-desc">
                                    <div class="title inner-page-title">
                                        <h3>Certifications</h3>
                                    </div>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas pellentesque id
                                        rutrum, praesent habitant varius interdum tellus donec porta bibendum augue
                                        venenatis suspendisse dictum vivamus molestie, neque sapien quam eu felis
                                        eleifend, a risus dapibus ullamcorper pharetra class gravida tempus elit aliquam
                                        eleifend porttitor facilisis etiam curabitur, hac non cras nulla euismod aenean
                                        tempor litora.</p>
                                    <p>At non sociosqu ultrices gravida sem a ut netus iaculis, dictum curae senectus
                                        mattis sapien aliquet turpis consequat mi vel, tortor amet tristique maecenas
                                        rutrum interdum faucibus cras conubia ut euismod orci nisi metus scelerisque
                                        bibendum metus, eget magna ultricies ut bibendum maecenas .</p>
                                    <ul>
                                        <li><a href="#">Eagesta torquents</a></li>
                                        <li><a href="#">habitasas aenean fusc</a></li>
                                        <li><a href="#">Eagesta torquents</a></li>
                                        <li><a href="#">habitasas aenean fusc</a></li>
                                        <li><a href="#">Eagesta torquents</a></li>
                                        <li><a href="#">Non am amec pontentic</a></li>
                                    </ul>
                                    <div class="social-share">
                                        <a href="#" class="btn btn-success">Facebook</a>
                                        <a href="#" class="btn btn-primary">Twitter</a>
                                        <a href="#" class="btn btn-danger">Google</a>
                                        <a href="#" class="btn btn btn-info">linkedin</a>
                                        <a href="#" class="btn btn btn-warning">Pinterest</a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="curriculum">
                                <div class="curriculum-table">
                                    <div class="title inner-page-title">
                                        <h3>curriculum</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="curriculum-title">
                                            <h4>Learn Getting Started</h4>
                                        </div>
                                        <table class="table-responsive">
                                            <tbody>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-file"></i><span>Lecture 1:2</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary btn-default">locked</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:3</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:4</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary btn-success">free</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="curriculum-title">
                                            <h4>Work with core</h4>
                                        </div>
                                        <table class="table-responsive">
                                            <tbody>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-file"></i><span>Lecture 1:2</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary btn-default">locked</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:3</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="curriculum-title">
                                            <h4>Finish</h4>
                                        </div>
                                        <table class="table-responsive">
                                            <tbody>
                                            <tr>
                                                <td><i class="fa fa-file"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary btn-default">locked</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary">Preview</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-play-circle"></i><span>Lecture 1:1</span></td>
                                                <td>What is learnpress</td>
                                                <td><a href="#" class="btn btn-primary btn-success">free</a></td>
                                                <td><span>06:16:00</span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="review">
                                <div class="review-rate">
                                    <div class="col-md-3">
                                        <div class="review-left">
                                            <h3>4.8</h3>
                                            <div class="review-star">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i>
                                            </div>
                                            <span>4 ratings</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row rating-desc">
                                            <div class="skill-bar">
                                                <span>5 Star</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 80%">
                                                    </div>
                                                </div>
                                                <em class="text-right">5</em>
                                            </div>
                                            <!-- end 5 -->
                                            <div class="skill-bar">
                                                <span>4 Star</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 60%">
                                                    </div>
                                                </div>
                                                <em class="text-right">4</em>
                                            </div>
                                            <!-- end 4 -->
                                            <div class="skill-bar">
                                                <span>3 Star</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 40%">
                                                    </div>
                                                </div>
                                                <em class="text-right">3</em>
                                            </div>
                                            <!-- end 3 -->
                                            <div class="skill-bar">
                                                <span>2 Star</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 20%">
                                                    </div>
                                                </div>
                                                <em class="text-right">2</em>
                                            </div>
                                            <!-- end 2 -->
                                            <div class="skill-bar">
                                                <span>1 Star</span>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar"
                                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 15%">
                                                    </div>
                                                </div>
                                                <em class="text-right">1</em>
                                            </div>
                                            <!-- end 1 -->
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="comment-list">
                                    <!-- First Comment -->
                                    <div class="title inner-page-title">
                                        <h3>2 Reviews</h3>
                                    </div>
                                    <article class="row">
                                        <div class="col-md-2 col-sm-2 col-xs-3">
                                            <figure class="thumbnail">
                                                <img class="img-responsive" src="images/users/2.jpg" alt="image"/>
                                            </figure>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-9">
                                            <div class="panel panel-default arrow left">
                                                <div class="panel-body">
                                                    <header class="text-left">
                                                        <div class="comment-user">Khanal prem <span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span></div>
                                                        <h6>Lorem ipsum dolor sit amet</h6>
                                                    </header>
                                                    <div class="comment-post">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Second Comment Reply -->
                                    <article class="row">
                                        <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 col-xs-3">
                                            <figure class="thumbnail">
                                                <img class="img-responsive" src="images/users/2.jpg" alt="image"/>
                                            </figure>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <header class="text-left">
                                                        <div class="comment-user">Khanal prem <span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span></div>
                                                        <h6>Lorem ipsum dolor sit amet</h6>
                                                    </header>
                                                    <div class="comment-post">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Fourth Comment -->
                                    <article class="row">
                                        <div class="col-md-2 col-sm-2 col-xs-3">
                                            <figure class="thumbnail">
                                                <img class="img-responsive" src="images/users/1.jpg" alt="image"/>
                                            </figure>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-9">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <header class="text-left">
                                                        <div class="comment-user">Khanal prem <span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span><span><i
                                                                class="fa fa-star"></i></span></div>
                                                    </header>
                                                    <div class="comment-post">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore magna
                                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="comment-form recent-events">
                                    <div class="title inner-page-title">
                                        <h3>Leave Comment</h3>
                                    </div>
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6 ">
                                                <div class="form-group">
                                                    <label>Name :</label>
                                                    <input type="text" name="name" class="form-control"
                                                           placeholder="name">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Email :</label>
                                                    <input type="text" name="email" class="form-control"
                                                           placeholder="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Message :</label>
                                                    <textarea rows="6" name="message" class="form-control"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <a class="btn btn-primary" href="#">Send Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="sidebar">
                    <div class="course-widget sidebar-widget">
                        <ul>
                            <div class="course-details-page-side-btn">
                                <a href="#" class="bg-btn">ENROLL THIS COURSE</a><a class="sm-btn" href="#"><i
                                    class="fa fa-heart-o"></i></a>
                            </div>
                            <div class="star">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star-half"></i>
                            </div>
                            <li>
                                <a href="#">Lectures<span class="pull-right">14</span></a>
                            </li>
                            <li>
                                <a href="#"> Language <span class="pull-right">English</span></a>
                            </li>
                            <li>
                                <a href="#"> Video <span class="pull-right">10 hours</span></a>
                            </li>
                            <li>
                                <a href="#"> Duration <span class="pull-right">30 days</span></a>
                            </li>
                            <li>
                                <a href="#"> Price<span class="pull-right">$ 150</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class=" sidebar-widget category-widget">
                        <div class="title sidebar-widget-title">
                            <h3>Category Course</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="#">It & Software </a>
                            </li>
                            <li>
                                <a href="#"> Technology </a>
                            </li>
                            <li>
                                <a href="#"> General </a>
                            </li>
                            <li>
                                <a href="#">Backend </a>
                            </li>
                            <li>
                                <a href="#">Frontend </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-widget">
                        <div class="title sidebar-widget-title">
                            <h3>Related Courses</h3>
                        </div>
                        <div class="sidebar-course-carousel owl-carousel owl-theme">
                            <div class="sidebar-course-item">
                                <div class="course-img ">
                                    <img class="img-responsive " src="images/course/1.jpg "/>
                                </div>
                                <div class="course-detail ">
                                    <div class="course-date">
                                        <p>December 17, 2017</p>
                                    </div>
                                    <h3><a href=" " title="Details ">Complet Guied of Business</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt
                                        mauris id tortor iaculis, ut mollis mi sagittis.</p>
                                    <div class="course-bottom">
                                        <span><i class="fa fa-users"></i>365</span>
                                        <span><i class="fa fa-comment"></i>7</span>
                                        <span class="pull-right">$60.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-course-item">
                                <div class="course-img ">
                                    <img class="img-responsive " src="images/course/1.jpg "/>
                                </div>
                                <div class="course-detail ">
                                    <div class="course-date">
                                        <p>December 18, 2017</p>
                                    </div>
                                    <h3><a href=" " title="Details ">Learning Ui&Ux Design </a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt
                                        mauris id tortor iaculis, ut mollis mi sagittis.</p>
                                    <div class="course-bottom">
                                        <span><i class="fa fa-users"></i>365</span>
                                        <span><i class="fa fa-comment"></i>7</span>
                                        <span class="pull-right">$60.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
