<div class="container-fluid">
    <div class="row">
        <div id="edu-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
                <div class="item active" style="background-image: url(images/blockchaincity.jpg);">
                    <div class="slider-overlay"></div>
                    <div class="container">
                        <div class="slider-caption">
                            <img class="logo" src="images/header-panel-logo.png" alt="Vernam">
                            <h2 class="sub-title upper white fs-15">The future of insurance</h2>

                            <p>The World's First 0% commission insurance on blockchain</p>

                            <div class="slider-btn">
                                <a href="#" class="btn btn-primary">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SLider-->
<section class="popular-course section grey-background">
    <div class="container">
        <div class="title sec-title">
            <h2>HOW THE VERNAM PLATFORM WORKS</h2>
            <p>This is a demo version of our unique insurance platform. A demo account is the best way for newcomers to explore our services. The demo account's functionality is similar to the real account one with the exception that you use virtual money and fake personal data.</p>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img ng-src="images/platform.png" alt="Los Angeles" style="width:100%;">
                </div>

                <div class="item">
                    <img ng-src="images/token.png" alt="Chicago" style="width:100%;">
                </div>

                <div class="item">
                    <img ng-src="images/money.png" alt="New York" style="width:100%;">
                </div>

            </div>

            <span style="cursor: pointer" class="carousel-control left" data-target="#myCarousel" data-slide="prev">‹</span>
            <span style="cursor: pointer" class="carousel-control right" data-target="#myCarousel" data-slide="next">›</span>

        </div>
    </div>
</section>
